* {margin:0;padding:0;box-sizing:border-box}
html, body {
  width:100%;
}



.wrappers {
  margin-top: -50px;
}
.projects {
  margin-top: -40px;
}
h4.navtxt {
   font-family:'showcard';
}
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}


.row {
  width: 100%;
}

.mainnav {
position: fixed;
float: left;
z-index: 10000;
background-color: white;
width: 100%;

}
 .navbarthis {
            background-image:url('../img/picreview.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat:none;
            margin:0px;
            padding: 0px;
            font-family: tahoma;

        }


  .navbarthis2 {
            background-image:url('../img/picreview.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat:none;
            margin:0px;
            padding: 0px;
            font-family: tahoma;
            position: fixed;
            width: 30%;
            float: left;
            top:52%;
            z-index: 340;

        }




 nav
        {
            float: none;
            clear:both;
            width:100%;
            margin:5% auto;
           
        }
        nav ul
        {
            list-style:none;
            margin:0px;
            padding:0px;
        }
        nav li
        {
            float: none;
            width:100%;
                        
        }
        nav li a
        {
            display: block;
            width: :100%;
            padding:12px;
            border-left:5px solid;
            position:relative;
            z-index: 2;/*for showing the lower layer*/
            text-decoration: none;
            font-family: 'Anton';
            font-weight:bolder;
            box-sizing: border-box;
            font-size: 14px;
            margin-top: 20px;
            
        }
        nav li a:hover
        {
            border-bottom: 0px;
            color:white;
            text-decoration:none;
            
        }
        nav li:first-child a
        {
            border-left: 10px solid #7FB800;
            
        }
        nav li:nth-child(2) a
        {
            border-left: 10px solid #FFB400;
            
        } 
        nav li:nth-child(3) a
        {
            border-left: 10px solid #f0776c;
            
        }
        
         nav li:nth-child(4) a
        {
            border-left: 10px solid #d8e84a;
            
        }
        nav li:last-child a
        {
            border-left: 10px solid #0D2C54;
            
        }
        nav li a:after
        {
            content:"";
            height:100%;
            left:0px;
            top:0px;
            width:0px;
            position: absolute;
            transition: all .3s ease 0s;
            z-index: -1;
        }
         nav li a:hover:after
        {
            width:100%; 
            
            
        }
        nav li:first-child a:hover
        {
            background-color: #7FB800;
            
        }
         nav li:nth-child(2) a:after
        {
            background-color:#FFB400;
        }
        nav li:nth-child(3) a:after
        {
            background-color:#F6511D;
        } 
        nav li:nth-child(4) a:after
        {
            background-color:#F6511D;
        } 
        nav li:last-child a:after
        {
            background-color:#0D2C54;
        }


        .nav2
        {
            float: left;
            clear:both;
            width:100%;
            margin:5 auto;
           
        }
        .nav2 ul
        {
            list-style:none;
            margin:0px;
            padding:0px;
        }
        .nav2 li
        {
            float: none;
            width:50%;
                        
        }
        .nav2 li a
        {
            display: block;
            width: :100%;
            padding:12px;
            border-left:5px solid;
            position:relative;
            z-index: 2;/*for showing the lower layer*/
            text-decoration: none;
            font-family: 'Anton';
            font-weight:bolder;
            box-sizing: border-box;
            font-size: 14px;
            margin-top: 20px;
            
        }
        .nav2 li a:hover
        {
            border-bottom: 0px;
            color:white;
            text-decoration:none;
            
        }
        .nav2 li:first-child a
        {
            border-left: 10px solid #7FB800;
            
        }
        .nav2 li:nth-child(2) a
        {
            border-left: 10px solid #FFB400;
            
        } 
        .nav2 li:nth-child(3) a
        {
            border-left: 10px solid #f0776c;
            
        }
        
        .nav2 li:nth-child(4) a
        {
            border-left: 10px solid #d8e84a;
            
        }
        .nav2 li:last-child a
        {
            border-left: 10px solid #0D2C54;
            
        }
        .nav2 li a:after
        {
            content:"";
            height:100%;
            left:0px;
            top:0px;
            width:0px;
            position: absolute;
            transition: all .3s ease 0s;
            z-index: -1;
        }
         .nav2 li a:hover:after
        {
            width:100%; 
            
            
        }
        .nav2 li:first-child a:hover
        {
            background-color: #7FB800;
            
        }
         .nav2 li:nth-child(2) a:after
        {
            background-color:#FFB400;
        }
       .nav2 li:nth-child(3) a:after
        {
            background-color:#F6511D;
        } 
        .nav2 li:nth-child(4) a:after
        {
            background-color:#F6511D;
        } 
       .nav2 li:last-child a:after
        {
            background-color:#0D2C54;
        }
.overlay
{
  position:absolute;
  min-height:100%;
  min-width:100%;
  left:0;
  top:0;
  background:rgba(244, 244, 244, 0.51);
  color:black;
  margin:20px;
  padding:20px;
}

.overlay2
{
  position:absolute;
  min-height:50%;
  min-width:50%;
  left:0;
  top:0;
  color:black;
  margin:20px;
  padding:20px;
}
.leftmargin {
  margin-left: 25px;
}

ul {
  list-style: none;
}

.yellowbg{
  background-color:  #7FB800;
  margin-bottom: 30px;
  padding-bottom:  20px;
}


 p.footertext {
  font-family: 'Anton';
  font-size: 12px;
 }

 .input-field .active {
  background-color: white;
  z-index: -1;
}

.input-field input[type=search]:focus {
  background-color: blue;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: blue;
}


 #contact { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: 4em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

#contact:hover { background: #666; }
#contact:active { background: #444; }

#contactForm { 
  display: none;

  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn { 
  width: 140px;
  display: inline-block;
  
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
} 


.logoimg {
  height: 100px;
  width: 250px;
 } 

.active {
  background-color: #4CAF50;
  color: #000080;
}


.about {
  margin-top: 20px;
}



h2{
 color: #0D2C54; 
 font-family: 'Anton', sans-serif;
}

h3{
 color: #0D2C54; 
 font-family: 'Anton', sans-serif;

}

h4{
 color: #0D2C54; 
 font-family: 'Anton', sans-serif;

}

h5{
 color: #0D2C54; 
 font-family: 'Anton', sans-serif;

}

h6 {
  color: #0D2C54; 
 font-family: 'Anton', sans-serif;

}

p , {

    font-family: 'Playfair Display', serif;
    font-size: 15px;
    letter-spacing: 1px;
    color:#0D2C54;
}


a {
  color: #000080;
  letter-spacing: 3px;
}

a.reviewbtn {
  color:black;
  letter-spacing: 3px;
}

span.hide {
  width: 20px;
  height: 20px;
  padding: 10px;
}

a.reviewbtn:hover {
  color:#0D2C54;
  letter-spacing: 3px;
  font-size: 10px;
}


.btn-lg{
  background-color:#7FB800; 
}

.btn-lg:hover{
  background-color: #F6511D; 
  font-color:white;
}


.bannerbg{
    background-color: #FFB400;
    background-size: 100%;
    background-repeat: no-repeat; }




}

.label {
  background-color: #FFB400;
  padding: 10px;
}

.reviewbg2 {
  background-image: url('../img/picreview.jpg');
  background-size: 100%;
  z-index: 1;

}

.panel-default{
  height: 60%;
}
.input-field.inline input, .input-field.inline .select-dropdown {
    margin-bottom: 1px;
}


@media only screen and (max-width: 420px) {

  .mainwrapper {
  width: 100%;
  height: 100%;
}

  .navbartxt {
     font-family:'showcard';
     font-size: 10px;
  }

  .navbarxs {
    font-size: 10px;
    top: -20px;
    position: relative;
    font-family:'showcard';
  }
  .navbarthis2 {
            background-image:url('../img/picreview.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat:none;
            margin:0px;s
            padding: 0px;
            font-family: tahoma;
            width: 100%;
            float: left;
            top:32%;
            z-index: 340;
            display: none;

        }

  .overlay2
{
  position:absolute;
  min-height:50%;
  min-width:100%;
  left:0;
  top:0;
  color:black;
  margin:20px;
  padding:20px;
  display: none;
}

    .nav2
        {
            float: left;
            clear:both;
            width:100%;
            margin:5 auto;
           
        }
        .nav2 ul
        {
            list-style:none;
            margin:0px;
            padding:0px;
        }
        .nav2 li
        {
            float: none;
            width:50%;
                        
        }
        .nav2 li a
        {
            display: block;
            width: :100%;
            padding:12px;
            border-left:5px solid;
            position:relative;
            z-index: 2;/*for showing the lower layer*/
            text-decoration: none;
            font-family: 'Anton';
            font-weight:bolder;
            box-sizing: border-box;
            font-size: 7px;
            margin-top: 20px;
            
        }
        .nav2 li a:hover
        {
            border-bottom: 0px;
            color:white;
            text-decoration:none;
            
        }
        .nav2 li:first-child a
        {
            border-left: 8px solid #7FB800;
            
        }
        .nav2 li:nth-child(2) a
        {
            border-left: 8px solid #FFB400;
            
        } 
        .nav2 li:nth-child(3) a
        {
            border-left: 8px solid #f0776c;
            
        }
        
        .nav2 li:nth-child(4) a
        {
            border-left: 8px solid #d8e84a;
            
        }
        .nav2 li:last-child a
        {
            border-left: 8px solid #0D2C54;
            
        }
        .nav2 li a:after
        {
            content:"";
            height:100%;
            left:0px;
            top:0px;
            width:0px;
            position: absolute;
            transition: all .3s ease 0s;
            z-index: -1;
        }
         .nav2 li a:hover:after
        {
            width:100%; 
            
            
        }
        .nav2 li:first-child a:hover
        {
            background-color: #7FB800;
            
        }
         .nav2 li:nth-child(2) a:after
        {
            background-color:#FFB400;
        }
       .nav2 li:nth-child(3) a:after
        {
            background-color:#F6511D;
        } 
        .nav2 li:nth-child(4) a:after
        {
            background-color:#F6511D;
        } 
       .nav2 li:last-child a:after
        {
            background-color:#0D2C54;
        }

.featurette{
  width: auto;

 } 

.row {
  width: 100%;
}


nav li a
        {
            display: block;
            width: :100%;
            padding:20px;
            border-left:5px solid;
            position:relative;
            z-index: 2;/*for showing the lower layer*/
            text-decoration: none;
            font-family: 'Anton';
            font-weight:bolder;
            box-sizing: border-box;
            font-size: 14px;
            margin-top: 55px;
            
        }

.project {
  width: 30%;
  height: 30%;
  background-image: url('../img/training.jpg');
  background-size: cover;
  background-position: center;
  padding: 0 !important;
  float:left;

}

.project-2 {
  background-image: url('../img/about2.jpg');
  width: 50%;
  height: 50%;
  display: none;
}

.project-3 {
  background-image: url('../img/training.jpg');
  width: 50%;
  height: 50%;
  display: none;
}

.project-4 {
  background-image: url('../img/coaching.jpg');
  width: 50%;
  height: 50%;
  display: none;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
    background-color: #FFB400;
    text-align: center;
}        

.container {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
}

#navtext {
  color: #0D2C54;
  font-size: 15px;
  font-family: 'Anton';
  width: 100%;
  padding: 5px;
  text-align:   right;
  top:-15px;
  position:  relative; 
  background-color: white;
  background-size: 100%;
}


  
/*
.logoimg {
  height: 100%;
  width: 100%;
  position: relative;
}
*/

/*.logoimg {
  height: 70%;
  width: 70%;
  position: relative;
}*/


.bannerbg{
background-color: #FFB400;


}

.bannerbg2{
background-image: url('../img/banner4.jpg');
background-size: 250%;
background-repeat: no-repeat;
padding-top: 50px;

}


h3.headline {
  font-size: 15px;
  line-height: 18px;
  padding-top: 50px;
}

h3.mainbanner {
  font-size: 15px;
  line-height: 18px;
  
}

.aboutnew {
  margin-top: 0px;
}

ol.aboutcenter {
  height: 70%;
  width: 70%;
}

.training {
    background-image: url('../img/banner3.jpeg');
    height: 150px;
    width: 100%;
    background-size:  100%;
    background-repeat: no-repeat;
}
 
.mainbtn {
  font-size: 8px;
  height: 40%;
  width: 100%;
  margin-top: 10px;
  letter-spacing: 3px;
/*  margin-right: 5px;*/

}

.mainbtn2 {
  font-size: 10px;
  width: 90%;
  height: 30px;
  
  }

.founder {
  height: 30%;
  width:30%;
}

.founder2 {
  height: 80%;
  width:80%;
  margin-bottom: 20px;
}

.founder3 {
  height: 45%;
  width:30%;
  margin-bottom: 20px;
}

.founder4 {
  height: 60%;
  width:30%;
  
}
.reviewbg2 {
  background-size: 250%;
  z-index: 1;
 background-image: url('../img/picreview.jpg');
}


.carousel{
  background-image: none;
  height: 80px;

}

.ccontent {
  font-size: 10px;
  background-image:   none;

}


a.reviewbtn:hover {
  color:#0D2C54;
  letter-spacing: 3px;
  font-size: 9px;
}

a.reviewbtn {
  color:#0D2C54;
  letter-spacing: 3px;
  font-size: 9px;
}

 .circle2 span {
  vertical-align:middle;
  text-align:center;
  padding: 0 15px;
  font-family: 'Anton', sans-serif;
  color:#0D2C54; 
}

  .circle2 {
  color: black;
  display:table;
  width: auto;
  margin:0 auto;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
}

#circle2 {
    background-size: 100% 100%;

}



}
}

/*Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .mainwrapper {
  width: 100%;
  height: 100%;
}


  .navbarxs {

     font-family:'showcard';
     font-size: 12px;
   
  }
  nav li a
        {
            display: block;
            width: :100%;
            padding:20px;
            border-left:5px solid;
            position:relative;
            z-index: 2;/*for showing the lower layer*/
            text-decoration: none;
            font-family: 'Anton';
            font-weight:bolder;
            box-sizing: border-box;
            font-size: 14px;
            margin-top: 30px;
            
        }

.row {
  width: 100%;
}




#navtext {
  color: #0D2C54;
  font-size: 15px;
  font-family: 'Anton';
  width: 100%;
  padding: 5px;
  float:  right;
  text-align:   right;
  position:   relative; 
  right:  -15px;
  background-color: white;
}
  
  a.reviewbtn:hover {
  color:#0D2C54;
  letter-spacing: 3px;
  font-size: 12px;
}

a.reviewbtn {
  color:#0D2C54;
  letter-spacing: 3px;
  font-size: 12px;
}

.help {
  height: 73%;
  width: 73%;
  margin-top: 5px;
}
  .circle2 span {
  display:table-cell;
  vertical-align:middle;
  height:100px;
  width:100px;
  text-align:center;
  padding: 0 15px;
  font-family: 'Anton', sans-serif;
  color:#0D2C54; 
}


  .circle2 {
  background: #ffb400;
  border-radius:50%;
  color: black;
  display:table;
  height: 100px;
  width: auto;
  margin:0 auto;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90deg, #FFB400, #FFB400, #EDF400, #7FB800);
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
}


.reviewbg2 {
  background-image: url('../img/picreview.jpg');
  background-size: 350%;
  z-index: 1;
}
.mainbtn {
  font-size: 15px;
  height: 60%;
  width: 75%;
  margin-top: 25px;
  
}

.mainbtn2 {
 font-size: 15px;
  width: 100%;
 
}

.mainbtn3 {
  font-size: 15px;
  height: 55%;
  width: 55%;
  margin-top: 25px;
  padding:  5px;

  
}


h3.headline {
  font-size: 25px;
  line-height: 27px;
  padding-top:30px;
}

h3.mainbanner {
  font-size: 25px;
  line-height: 27px;
 
}
.bannerbg{
background-size: 170%;

}

.founder {
  height: 40%;
  width:40%;
}

.founder2 {
  height: 80%;
  width:80%;
  margin-bottom: 20px;
}

.founder3 {
  height: 60%;
  width:25%;
  margin-bottom: 20px;
}

.founder4 {
  height: 40%;
  width:40%;
  margin-bottom: 20px;
  margin-top:   25px;
}

.founder5 {
  height: 30%;
  width:30%;
  margin-bottom: 20px;
  margin-top: 10px;
 
}

.carousel{
  background-color: none;
  background-image: none;
  height: auto;
}

.bannerbg2{
background-image: url('../img/banner4.jpg');
background-size: 250%;
background-repeat: no-repeat;
padding-top: 80px;
padding-bottom: 10px; 
}
}


/*Desktop Styles*/ 

@media only screen and (min-width: 1024px) {

  .mainwrapper {
  width: 100%;
  height: 100%;
  }

  .navbarxs {
    font-family:'showcard';
    
  }

 @font-face { 
  font-family:'showcard';
  src: url('../fonts/showcard.ttf'); 
  font-weight: normal;
  font-style: normal;
}

.brandtext {
  font-size: 50px;


}

 .counsel4 {
  top:-25px; 
 }

  #navtext {
  color: #0D2C54;
  font-size: 15px;
  font-family: 'Anton';
  width: 100%;
  padding: 5px;
  float:  right;
  text-align:   right;
  position:   relative; 
  right:  -15px;
  background-color: white;
}


h3.headline {
  font-size: 35px;
  line-height: 37px;
  padding-top: 30px;
  letter-spacing: 3px;

}

h3.mainbanner {
  font-size: 35px;
  line-height: 37px;
  letter-spacing: 3px;

}

.bannnerbg {
  height: 300px;
}

.bannerbg2{
background-image: url('../img/banner4.jpg');
background-size: 250%;
background-repeat: no-repeat;
padding-top: 80px;
padding-bottom: 10px; 
}

  a.reviewbtn:hover {
  color:#0D2C54;
  letter-spacing: 3px;
  font-size: 20px;
}

a.reviewbtn {
  color:#0D2C54;
  letter-spacing: 3px;
  font-size: 20px;
}
  
.mainbtn {
  font-size: 23px;
  height: 75px;
  margin-top: 10px;
  letter-spacing: 4px;

}

.training {
    background-image: url('../img/banner3.jpeg');
    height: 350px;
    background-size:  100%;
}


.mainbtn2 {
  font-size: 18px;
  height: 35px;
  letter-spacing: 4px;

}

.carousel{
  background-image: none;
  height: 80px;
}

.carousel-inner {
  background-color: none;
}


.circle2 span {
  display:table-cell;
  vertical-align:middle;
  height:200px;
  width:200px;
  text-align:center;
  padding: 0 15px;
  font-family: 'Anton', sans-serif;
  color:#0D2C54; 
}

.circle2 {
  background: #ffb400;
  border-radius:50%;
  color: black;
  display:table;
  height: 200px;
  width: auto;
  margin:0 auto;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90deg, #FFB400, #FFB400, #EDF400, #7FB800);
  background-size: 400% 400%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
}




.help {
  height: 75%;
  width: 75%;
}

.founder2 {
  height: 100%;
  width:100%;
}

.founder {
  height: 40%;
  width:40%;
}

.founder3 {
  margin-top: 30px;
  height: 60%;
  width:60%;
  margin-bottom: -20px;

 
}

.founder4 {
  height: 80%;
  width:50%;
  top: 30px;
  margin-top: 30px;
  }

.founder5 {
  height: 68%;
  width:68%;
  margin-bottom: 20px;
  margin-top: 8px;
 
}

}
.enroll {
  padding: 30px;

}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
    background-color: #FFB400;
    text-align: center;
        
}

#text-carousel  {
  width: 100%;
  height: auto;
 /* padding: 5px;*/
  color: white;

 
}

.topmargin {
  margin-top: 40px;
  padding: 20px;
}

.counsel {
  margin-top: 40px;

}

.counsel2 {
  margin-top: 40px;
}

.counsel3 {
  margin-top: 20px;
}

.counsel4 {
  margin-top: 49px;
  width: 100%;
}

.reviewheader {
  margin-top: 100px;
  margin-bottom: 45px;
}


.about {
  padding: 15px;
  text-align: justify;
}

.resume {
  margin-left: 30px;
  margin-bottom: 20px;
}

.boardexam {
    background-image: url('../img/boardexam.jpg');
}


   

.headerboardexam {
  color: white;
  margin-top: 100px;
}

/*.whychooseus{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;

}*/

.enrollonline {
  border: 1px solid;
  border-color: #0D2C54;
  padding: 10px;
}

#quote-carousel {
  padding: 0 5px 5px 5px;
  margin-top: 30px;
  text-align:center;
}
/* indicator position */
/*#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
 /* bottom: -10px;*/
 /* margin-right: -19px;*/
}
/**/ indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}

.carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;

}

.carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
}

.carousel-control:focus, .carousel-control:active {
    color: #21DE31;
}
/* typography */
h1.testi {
  text-align:center;
  margin-bottom:-20px !important;
}
p.testi {
  font-style:italic;
}


.testpic {
  height: 50%;
  width: 50%;

}


.trainingpics {
  height: 60%;
  width: 60%;
  margin-bottom: 30px;

}

.therapym {
  text-align: center;
  width: 70%;
  }


.block{
    
    text-align: center;
    vertical-align: middle;
}
.circle {
  background-image: url('img/trainining.jpg');
  border-radius:50%;
  color: black;
  display:table;
  height: 200px;
  font-weight: bold;
  font-size: 1.2em;
  width: auto;
  margin:0 auto;
}
.circle span {
  display:table-cell;
  vertical-align:middle;
  height:200px;
  width:200px;
  text-align:center;
  padding: 0 15px;
}


 



.description {
  width: 70%;
  text-align: justify;

}

.coaching {
  width: 100%;
  height:100%;
  margin-top: 20px;
}

.bbanner {
  line-height: 150%;
}

.contactus {
  background-color:#0D2C54;

}

.contacttext{
  color:  white;
}

.contactmap {
  margin-right: 30px;
}


@use postcss-cssnext;

/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
:root {
  --animation-delay: 2s;
  --duration: 800ms;
  --iterations: 1;
}
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */

.counselbanner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  flex-direction: column;

}

.reveal-text,
.reveal-text::after {
  animation-delay: var(--animation-delay);
  animation-iteration-count: var(--iterations);
  animation-duration: var(--duration);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
  position: relative;
  font-size: 25px;
  display: block;
  user-select: none;
  animation-name: reveal-text;
  color: 0D2C54;
  white-space: nowrap;
  cursor: default;
  
  &::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f98b;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer-text;
  }
  
}



.title-arch {
    text-align: center;
    margin: 50px 0;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
.project {
  width: 100%;
  height:500px;
  background-image: url('../img/about1.jpg');
  background-size: cover;
  background-position: center;
  padding: 0 !important;
  float:left;
  margin-top: 100px;

}

.project-2 {
  background-image: url('../img/about3.jpg');
}

.project-3 {
  background-image: url('../img/about2.jpg');
}

.project-4 {
  background-image: url('../img/about5.jpg');
}

.project-hover {
  width: 100%;
  height: 100%;
  color: #0D2C54;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(186, 232, 2, 0.7);
  padding: 40% 30px !important;
  font-family: 'Anton', sans-serif;
}

.project-hovers {
  width: 100%;
  height: 100%;
  color: #0D2C54;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(186, 232, 2, 0.7);
  padding: 40% 30px !important;
  font-family: 'Anton', sans-serif;
  margin-left: 20px;
}


.project-hover hr {
  height: 30px;
  width: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 1);
  border: 0;
}

.project-hover a {
  color: rgba(255, 255, 255, 1);
  padding: 2px 22px;
  line-height: 40px;
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project-hover a:hover {
  border-color: rgba(51, 51, 51, 1);
  color: rgba(51, 51, 51, 1);
  background-color: #FFF;
}

.project:hover .project-hover {
  opacity: 1;
}

.project:hover .project-hover hr {
  width: 100%;
  height: 5px;
}

}


